

            <!--Slide 1-->
            <div>
                <div class="slide-1 pb-20" style="height:50vh;">
                    <div class="block h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-right" style="background-image: url('https://a.mktgcdn.com/p/OZuqP0PNXf7e08RoYsKE9_it0yuHdO4NwkfhcKX4CKg/1728x2160.jpg');">

                        <div class="container mx-auto">
                            <div class="flex flex-col w-full lg:w-1/4 md:ml-16 items-center md:items-start px-6 tracking-wide">
                                <p class="text-black text-2xl my-4">Luxury Sneakers and Sandals</p>
                                <a class="text-2xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black" href="/shoes.html">view our shoes</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>




            <!--Slide 2-->
            <div>
                <div class="slide-2 pb-20" style="height:50vh;">
                    <div class="block h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-top" style="background-image: url('https://a.mktgcdn.com/p/ejm5HY9ezXJNEdM_iO-dPv33sjRrVezO9WPSJqKaE_s/2000x2667.jpg');">

                        <div class="container mx-auto">
                            <div class="flex flex-col w-full lg:w-1/2 md:ml-16 items-center md:items-start px-6 tracking-wide">
                                <p class="text-black text-2xl my-4">Highest-Quality Tops. Ever.</p>
                                <a class="text-2xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black" href="/tops.html">view our tops</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Slide 3-->
            <div>
                <div class="slide-3 pb-20" style="height:50vh;">
                    <div class="block h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-right" style="background-image: url('https://a.mktgcdn.com/p/VeCWiVwnRLKxSNBnO-UX_sqTQJOtsOwvPqYQMBdoEA8/2000x2667.jpg');">

                        <div class="container mx-auto">
                            <div class="flex flex-col w-full lg:w-1/2 md:ml-16 items-center md:items-start px-6 tracking-wide">
                                <p class="text-black text-2xl my-4">Perfect Pants</p>
                                <a class="text-2xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black" href="/bottoms.html">view our bottoms</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Slide 4-->
            <div>
                <div class="slide-3 pb-20" style="height:50vh;">
                    <div class="block h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-right" style="background-image: url('https://a.mktgcdn.com/p/uOvH7iTimcMnKazLwle5RROEhcYj0w2qU5A40ltQv4M/920x1380.jpg');">

                        <div class="container mx-auto">
                            <div class="flex flex-col w-full lg:w-1/2 md:ml-16 items-center md:items-start px-6 tracking-wide">
                                <p class="text-black text-2xl my-4">Hats for Summer</p>
                                <a class="text-2xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black" href="/hats.html">view our hats</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>




